<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/app.jpg"></ion-img>
      </ion-avatar>  
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button 
       defaultHref="/"
       text="Regresar"
       color="secondary"
       mode="ios">
      </ion-back-button>  
    </ion-buttons>
    <ion-title color="light">Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="light">
    <h1>Registro de Usuario</h1>
  </ion-text>

  <form [formGroup]="formularioRegistro" (keyup.enter)="guardar()">

    <ion-item>

      <ion-label position="floating">Nombre: </ion-label>
      <ion-input formControlName="nombre" type="text" placeholder="Ingrese su Nombre"
                required>
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Email: </ion-label>
      <ion-input formControlName="email" type="email" placeholder="Ingrese su E-mail"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 required>
      </ion-input>
    </ion-item>

    <ion-item>

      <ion-label>Password: </ion-label>
      <ion-input formControlName="password" type="password" placeholder="Ingrese su Contraseña"
                 required>
      </ion-input>

    </ion-item>

    <ion-item>
      <ion-label>Confirmar Contraseña: </ion-label>
      <ion-input formControlName="confirmacionPassword" type="password" placeholder="Confirme contraseña"
                 required>
      </ion-input>
    </ion-item>

    <ion-button [disabled] ="formularioRegistro.invalid"
              type="submit" (click)="guardar()" expand="block">
        Registrar
    </ion-button>


  </form>
</ion-content>
