.ajuste{
    width: 700px;
    height: 700px;
}

p{
    text-align: justify;
    padding: 0%;
    margin: 0%;
}

.h2{
    align-items: center;
}

ion-toolbar{
    --background: #0081ca;
}

ion-button{
    --background: #0081ca;
}
ion-content {
    margin-left: 10px;
    margin-right: 10px;
    display: block;
    --background: #0081ca;
}
