<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/app.jpg"></ion-img>
      </ion-avatar>  
    </ion-buttons> 
    <ion-buttons slot="start">
      <ion-back-button 
       defaultHref="/"
       text="Regresar"
       color="secondary"
       mode="ios">
      </ion-back-button>  
    </ion-buttons>
    <ion-title color="light">Categorías</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
      <!-- Default -->
      <br>
      <ion-title color="secondary">Catálogos de Peliculas</ion-title>
      <br>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Halloween Kills</ion-card-title>
          <ion-card-subtitle>Categ. Suspenso</ion-card-subtitle>
        </ion-card-header>
    
        <ion-card-content>
        <img class="ajuste" src="/assets/Halloween.jpg"/>
        <ion-item>
          <p>La película es una secuela de Halloween de 2018 y 
            la duodécima entrega de la franquicia de Halloween. 
            La película está protagonizada por Jamie Lee Curtis y Nick Castle, 
            quienes repiten sus papeles como Laurie Strode y Michael Myers, con James Jude Courtney 
            también interpretando a Myers nuevamente.</p>
        </ion-item>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Venom</ion-card-title>
          <ion-card-subtitle>Categ. Super Heroes</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          <img class="ajuste" src="/assets/venom2.jpeg"/>
          <ion-item>
            <p>
              Después de encontrar un cuerpo anfitrión en el periodista de investigación Eddie Brock, 
              el simbionte alienígena debe enfrentarse a un nuevo enemigo, 
              Carnage, el alter ego del asesino en serie Cletus Kasady
            </p>
          </ion-item>
        
         
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>Spider Man / No Way Home</ion-card-title>
          <ion-card-subtitle>Categ. Super Heroes</ion-card-subtitle>
        </ion-card-header>
       
        <ion-card-content>
          <img class="ajuste" src="/assets/spiderman.jpg"/>
          <ion-item>
            <p>Alfred Molina como Doctor Octopus es sin duda la aparición que se robó la atención de los fanáticos.
              El villano del Spiderman de Tobey Maguire regresará para enfrentarse a Parker, 
              en circunstancias que aún no están claras. 
              El Electro de Jamie Foxx regresará para sumarse al anterior villano</p>
          </ion-item>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>MATRIX 4</ion-card-title>
          <ion-card-subtitle>Categ. Ciencia Ficción</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>
          <img class="ajuste" src="/assets/matrix.jpg"/>
          <ion-item>
            <p>Cuarta entrega de la franquicia "Matrix" en la que Neo y Trinity se embarcarán en una nueva misión</p>
          </ion-item>
        
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>ETERNALS</ion-card-title>
          <ion-card-subtitle>Categ. Super Heroes</ion-card-subtitle>
        </ion-card-header>
       
        <ion-card-content>
          <img class="ajuste" src="/assets/eternos.jpg"/>

        <ion-item>
          <p>Eternals es una próxima película de superhéroes basada en el comic de Marvel Comics del mismo nombre. 
            Producida por Marvel Studios y distribuida por Walt Disney Studios Motion Pictures, 
            está destinada a ser la película número 26 en el Universo cinematográfico de Marvel.</p>
        </ion-item>
          
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-header>
          <ion-card-title>IT CHAPTER TWO</ion-card-title>
          <ion-card-subtitle>Categ. Terror / Suspenso</ion-card-subtitle>
        </ion-card-header>
        
        <ion-card-content>

          <a href ="/assets/it.mp4"><img class="ajuste" src="/assets/IT2.jpg"/></a>

          <ion-item>
            <p>En el misterioso pueblo de Derry, un payaso llamado Pennywise vuelve 27 años después para atormentar 
            a los ahora adultos miembros del Club de los Perdedores, que se encuentran alejados unos de otros.</p>
          </ion-item>
          
        </ion-card-content>
      </ion-card>


</ion-content>
