<ion-header>
  <ion-toolbar>
    <ion-label><ion-title color="light" class="welcome">Bienvenido</ion-title></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-text color="light">
    <img src="/assets/cinema.jpg">
    <h1>Radiz App es la mejor aplicacion ya que tiene las mejores peliculas!</h1>
    <p>... y ademas incluye de todo tipo de categorias que necesites y ademas es gratis!</p>
  </ion-text>

  <ion-button color="secondary" expand="block" routerLink="/ingresar">
    Iniciar Sesion
  </ion-button>

  <ion-button color="danger" expand="block" routerLink="/registro">
    Registrarse
  </ion-button>

</ion-content>
